<aside class="sidebar">
    <h2>Mi Banco</h2>
    <nav>
        <ul>
            <li>Inicio</li>
            <li>Trading</li>
            <li>Portafolio</li>
            <li>Billeteria</li>
            <li>Cofiguraciones</li>
        </ul>
    </nav>
    <div class="theme-switch-container">
  <span>Modo Oscuro</span>
  <label class="switch">
    <input type="checkbox" 
           [checked]="themeService.isDarkMode()" 
           (change)="toggleTheme()">
    <span class="slider round"></span>
  </label>
</div>
</aside>